* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #191515;
  line-height: 1.5;
  background-image: radial-gradient(#d8a2e0 5%, #f905c80e 5%);
  background-position: 0 0;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-color: #0c010dd7;
}

#search-box:hover,
#search-box:focus,
#search-box:active {
  border-color: #611056d7;
}

.list-countries {
  margin: 0 auto;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: auto;
  color: #070707d7;
}

.item-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.item-container .flag {
  margin-right: 10px;

}

.capital,
.population,
.languages {
  font-family: 'Gill Sans',
    'Gill Sans MT',
    Calibri,
    'Trebuchet MS',
    sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-right: 15px;

}

.text {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  font-size: 25px;
  margin-right: 15px;
}